{% extends 'base.html.twig' %}
{% block body %}
<center>
    <br><br>
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4">
            <ul class="list-group">
                <h3> List users </h3>
                {% for user in Alluser %}
                <li class="list-group-item" data-id="{{ user.id }}">{{ user.username }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>




{% endblock %}
